 <!-- Begin Brand Area -->
        <div class="brand-area pt-140 pb-6" data-bg-image="assets/images/brand/bg/1-1.png">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="swiper-container brand-slider">
                            <div class="swiper-wrapper align-items-center">
                                <div class="swiper-slide">
                                    <a class="brand-item" href="#">
                                        <img src="assets/images/brand/1.png" alt="Brand Image">
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a class="brand-item" href="#">
                                        <img src="assets/images/brand/2.png" alt="Brand Image">
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a class="brand-item" href="#">
                                        <img src="assets/images/brand/3.png" alt="Brand Image">
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a class="brand-item" href="#">
                                        <img src="assets/images/brand/4.png" alt="Brand Image">
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a class="brand-item" href="#">
                                        <img src="assets/images/brand/5.png" alt="Brand Image">
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a class="brand-item" href="#">
                                        <img src="assets/images/brand/6.png" alt="Brand Image">
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a class="brand-item" href="#">
                                        <img src="assets/images/brand/7.png" alt="Brand Image">
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a class="brand-item" href="#">
                                        <img src="assets/images/brand/8.png" alt="Brand Image">
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a class="brand-item" href="#">
                                        <img src="assets/images/brand/9.png" alt="Brand Image">
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a class="brand-item" href="#">
                                        <img src="assets/images/brand/10.png" alt="Brand Image">
                                    </a>
                                </div>
                            </div>
                            <!-- Add Pagination -->
                            <div class="brand-pagination d-md-none"></div>

                            <!-- Add Arrows -->
                            <div class="brand-button-next"></div>
                            <div class="brand-button-prev"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Brand Area End Here -->