 <!-- Begin Footer Area -->
        <div class="footer-area">
            <div class="footer-top pt-100 pb-80" style="background-color: black;" data-bg-image="">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-3 col-lg-3">
                            <div class="widget-item text-hawkes-blue">
                                <div class="footer-logo pb-5">
                                    <a href="#">
                                        <img src="assets/images/logo/white.png" alt="Logo">
                                    </a>
                                </div>
                                <p class="short-desc font-size-16 mb-5">Construction of itself, because it is are <br>
                            but because some proper style design is occur in toil and pain pleasure</p>
                                <div class="inquary">
                                    <h5 class="text-primary">For inquary</h5>
                                    <a href="tel://+12345-879-854">+12345 879 854</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-2 col-sm-6 pl-xl-80 pt-8 pt-lg-0">
                            <div class="widget-item">
                                <h3 class="heading text-white mb-6">Information</h3>
                                <ul class="widget-list-item text-hawkes-blue">
                                    <li>
                                        <a href="#">About us</a>
                                    </li>
                                    <li>
                                        <a href="#">Our Services</a>
                                    </li>
                                    <li>
                                        <a href="#">Recent Projects</a>
                                    </li>
                                    <li>
                                        <a href="#">Our Team</a>
                                    </li>
                                    <li>
                                        <a href="#">Contact us</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-sm-6 ps-lg-10 pt-8 pt-lg-0">
                            <div class="widget-item">
                                <h3 class="heading text-white mb-6">Quick Links</h3>
                                <ul class="widget-list-item text-hawkes-blue">
                                    <li>
                                        <a href="#">Support Center</a>
                                    </li>
                                    <li>
                                        <a href="#">Offers & Promotion</a>
                                    </li>
                                    <li>
                                        <a href="#">Terms & Conditions</a>
                                    </li>
                                    <li>
                                        <a href="#">Payment Method</a>
                                    </li>
                                    <li>
                                        <a href="#">Clients & Reviews</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 pt-8 pt-lg-0">
                            <div class="widget-item">
                                <h3 class="heading text-white mb-6">Contact Info</h3>
                                <div class="widget-list-item text-hawkes-blue">
                                    <div class="widget-address pb-5">
                                        <p class="mb-1">215 Central Road, North Street Central Park,
                                            <span class="text-primary">New York, USA</span>
                                        </p>
                                        <span>+12345 698 745 / +32145 852 785</span>
                                    </div>
                                    <div class="widget-address">
                                        <p class="mb-1">75, Victoriya Street, New Town Park Road,
                                            <span class="text-primary">Sydney, Australia</span>
                                        </p>
                                        <span>+98745 258 102 / +98745 612 301</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom py-3 text-hawkes-blue" data-bg-color="#00225a">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-sm-4">
                            <ul class="social-link">
                                <li class="facebook">
                                    <a href="#" data-tippy="Facebook" data-tippy-inertia="true" data-tippy-animation="shift-away" data-tippy-delay="50" data-tippy-arrow="true" data-tippy-theme="sharpborder">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                </li>
                                <li class="twitter">
                                    <a href="#" data-tippy="Twitter" data-tippy-inertia="true" data-tippy-animation="shift-away" data-tippy-delay="50" data-tippy-arrow="true" data-tippy-theme="sharpborder">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                </li>
                                <li class="instagram">
                                    <a href="#" data-tippy="Instagram" data-tippy-inertia="true" data-tippy-animation="shift-away" data-tippy-delay="50" data-tippy-arrow="true" data-tippy-theme="sharpborder">
                                        <i class="fa fa-instagram"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-6 col-sm-8 align-self-center">
                            <div class="copyright">
                                <span class="copyright-text">© 2023 by Grupal SL <i class="fa fa-heart text-danger"></i> by <a href="https://hasthemes.com/" rel="noopener" target="_blank">HasThemes</a> </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer Area End Here -->

        <!-- Begin Scroll To Top -->
        <a class="scroll-to-top" href="">
            <i class="ion-android-arrow-up"></i>
        </a>
        <!-- Scroll To Top End Here -->