<div class="main-wrapper">

        <!-- Begin Main Header Area -->
        <header class="main-header_area position-relative">
            <div class="header-top py-6 py-lg-3" data-bg-color="#b2f108">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="offset-xl-2 offset-lg-3 col-xl-4 col-lg-5 d-none d-lg-block">
                            <div class="header-top-left ml-8">
                                <div class="contact-number">
                                    <img src="assets/images/header/icon/phone.png"  alt="Phone Icon" style="color:black">
                                    <a href="tel://01225-265-847" style="color:black; font-weight:800 ; ">01225 265 847</a>
                                </div>
                                <div class="contact-number">
                                    <img src="assets/images/header/icon/phone.png"  alt="Phone Icon" style="color:black">
                                    <a href="tel://01225-265-847" style="color:black; font-weight:800 ; ">01225 265 847</a>
                                </div>
                                <div class="time-schedule">
                                    <img src="assets/images/header/icon/clock.png" alt="Clock Icon">
                                    <span style="color:black; font-weight:800 ">24 HORAS</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 d-block d-lg-none">
                            <div class="header-logo d-flex">
                                <a href="index.html">
                                    <img class="d-none d-lg-block" src="assets/images/logo/dark.webp" alt="Header Logo">
                                    <img class="d-block d-lg-none" src="assets/images/logo/light.webp" alt="Header Logo">
                                </a>
                            </div>
                        </div>
                       
                    </div>
                </div>
            </div>
            <div class="main-header header-sticky" data-bg-color="#000000">
                <div class="container">
                    <div class="main-header_nav">
                        <div class="row align-items-center">
                            <div class="offset-xl-2 col-xl-10 d-none d-lg-block">
                                <div class="main-menu text-center">
                                    <nav class="main-nav">
                                        <ul>
                                            <li class="drop-holder">
                                                <a href="index.html"><span>Inicio</span></a>
                                            </li>
                                            <li>
                                                <a href="about.html"><span>Quiénes Somos</span></a>
                                            </li>
                                            <li class="drop-holder">
                                                <a href="service.html"><span>Servicios</span></a>
                                                <ul class="drop-menu">
                                                    <li>
                                                        <a href="single-service.html">Single Service</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="drop-holder"><a href="service.html"><span>Trabajamos en</span></a>
                                                <ul class="drop-menu">
                                                    <li>
                                                        <a href="project-2-column.html">Project 2 Column</a>
                                                    </li>
                                                    <li>
                                                        <a href="project-gallery.html">Project Gallery</a>
                                                    </li>
                                                    <li>
                                                        <a href="project-slider.html">Project Slider</a>
                                                    </li>
                                                    <li>
                                                        <a href="project-detail.html">Project Detail</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            
                                            <li class="drop-holder">
                                                <a href="#"><span>Galería</span></a>
                                                <ul class="drop-menu">
                                                    <li>
                                                        <a href="our-clients.html">Our Clients</a>
                                                    </li>
                                                    <li>
                                                        <a href="our-team.html">Our Team</a>
                                                    </li>
                                                    <li>
                                                        <a href="our-working-process.html">Our Working Process</a>
                                                    </li>
                                                    <li class="drop-holder">
                                                        <a href="#">Multi Dropdown</a>
                                                        <ul class="drop-menu">
                                                            <li class="drop-holder">
                                                                <a href="#">Level 02</a>
                                                                <ul class="drop-menu">
                                                                    <li>
                                                                        <a href="#">Level 03</a>
                                                                    </li>
                                                                </ul>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </li>
                                           
                                       
                                            <li >
                                                <a href="contact.html"><span>Contacto</span></a>
                                            </li>
                                  
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="header-logo-wrap d-none d-lg-flex">

                        <div class="header-fixed-logo">
                            <a href="index.html">
                                <img src="assets/images/logo/dark.png" alt="Header Logo">
                            </a>
                        </div>

                    </div>
                </div>
            </div>
            <div class="mobile-menu_wrapper" id="mobileMenu">
                <div class="offcanvas-body">
                    <div class="inner-body">
                        <div class="offcanvas-top">
                            <a href="#" class="button-close"><i class="ion-ios-close-empty"></i></a>
                        </div>
                        <div class="offcanvas-menu_area">
                            <nav class="offcanvas-navigation">
                                <ul class="mobile-menu">
                                    <li>
                                        <a href="index.html">
                                            <span class="mm-text">Inicio</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="about.html">
                                            <span class="mm-text">Quiénes Somos</span>
                                        </a>
                                    </li>
                                    <li class="menu-item-has-children">
                                        <a href="#">
                                            <span class="mm-text">Servicios
                                        <i class="ion-ios-arrow-down"></i>
                                    </span>
                                        </a>
                                        <ul class="sub-menu">
                                            <li>
                                                <a href="service.html">
                                                    <span class="mm-text">Trabajamos en:</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="single-service.html">
                                                    <span class="mm-text">Galería</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="menu-item-has-children">
                                        <a href="#">
                                            <span class="mm-text">Contacto
                                        <i class="ion-ios-arrow-down"></i>
                                    </span>
                                        </a>
                                   </li>
                                    <li class="menu-item-has-children">
                                        <a href="#">
                                            <span class="mm-text">Shop
                                        <i class="ion-ios-arrow-down"></i>
                                    </span>
                                        </a>
                                        <ul class="sub-menu">
                                            <li>
                                                <a href="shop.html">
                                                    <span class="mm-text">Shop Default</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="shop-leftsidebar.html">
                                                    <span class="mm-text">Shop Left Sidebar</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="shop-rightsidebar.html">
                                                    <span class="mm-text">Shop Right Sidebar</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="product-detail.html">
                                                    <span class="mm-text">Product Detail</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="contact.html">
                                            <span class="mm-text">Contact</span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <div class="offcanvas-minicart_wrapper" id="miniCart">
                <div class="offcanvas-body">
                    <div class="minicart-content">
                        <div class="minicart-heading">
                            <h4 class="mb-0">Shopping Cart</h4>
                            <a href="#" class="button-close"><i class="ion-ios-close-empty"></i></a>
                        </div>
                        <ul class="minicart-list">
                            <li class="minicart-product">
                                <a class="product-item_remove" href="#"><i class="ion-ios-close-empty"></i></a>
                                <div class="product-item_img">
                                    <img class="img-full" src="assets/images/product/small-size/1-1-100x103.jpg" alt="Product Image">
                                </div>
                                <div class="product-item_content">
                                    <a class="product-item_title" href="shop.html">Cutting Pliers</a>
                                    <span class="product-item_quantity">1 x $80.00</span>
                                </div>
                            </li>
                            <li class="minicart-product">
                                <a class="product-item_remove" href="#"><i class="ion-ios-close-empty"></i></a>
                                <div class="product-item_img">
                                    <img class="img-full" src="assets/images/product/small-size/1-2-100x103.jpg" alt="Product Image">
                                </div>
                                <div class="product-item_content">
                                    <a class="product-item_title" href="shop.html">Safety Helmet</a>
                                    <span class="product-item_quantity">1 x $120.00</span>
                                </div>
                            </li>
                            <li class="minicart-product">
                                <a class="product-item_remove" href="#"><i class="ion-ios-close-empty"></i></a>
                                <div class="product-item_img">
                                    <img class="img-full" src="assets/images/product/small-size/1-3-100x103.jpg" alt="Product Image">
                                </div>
                                <div class="product-item_content">
                                    <a class="product-item_title" href="shop.html">Jack Hammer Drill</a>
                                    <span class="product-item_quantity">1 x $230.00</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="minicart-item_total">
                        <span>Subtotal</span>
                        <span class="ammount">$91.05</span>
                    </div>
                    <div class="group-btn_wrap d-grid gap-2">
                        <a href="cart.html" class="btn btn-secondary btn-primary-hover">View Cart</a>
                        <a href="checkout.html" class="btn btn-secondary btn-primary-hover">Checkout</a>
                    </div>
                </div>
            </div>
            <div class="global-overlay"></div>
        </header>
        </div>
        