 <!-- Begin Slider Area -->
        <div class="slider-area">

            <!-- Main Slider -->
            <div class="swiper-container main-slider swiper-arrow with-bg_white">
                <div class="swiper-wrapper">
                    <div class="swiper-slide animation-style-01">
                        <div class="slide-inner bg-height" data-bg-image="assets/images/slider/bg/1.webp">
                            <div class="container">
                                <div class="slide-content">
                                    <span class="sub-title mb-1">GRUPAL SL desde 1996</span>
                                    <h2 class="title mb-3">Desatascos <br> en <span>Madrid</span></h2>
                                    <p class="short-desc-2 font-size-20 mb-7">Empresa líder de desatascos en la comunidad de Madrid. Experiencia a tu servicio</p>
                                    <div class="button-wrap">
                                        <a class="btn btn-custom btn-secondary btn-white-hover me-3" href="project.html">Learn
                                            more</a>
                                        <a class="btn btn-custom btn-primary btn-white-hover" href="contact.html">Contact us</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide animation-style-01">
                        <div class="slide-inner bg-height" data-bg-image="assets/images/slider/bg/2.webp">
                            <div class="container">
                                <div class="slide-content text-white">
                                    <span class="sub-title mb-1">GRUPAL SL desde 1996</span>
                                    <h2 class="title mb-3">Poceros <br> en <span>Madrid</span></h2>
                                    <p class="short-desc-2 font-size-20 mb-7">Obras de pocería en Madrid al mejor precio y con la mayor calidad.</p>
                                    <div class="button-wrap">
                                        <a class="btn btn-custom btn-secondary btn-white-hover me-3" href="project.html">Learn
                                            more</a>
                                        <a class="btn btn-custom btn-primary btn-white-hover" href="contact.html">Contact us</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Add Pagination -->
                <div class="swiper-pagination with-bg d-md-none"></div>

                <!-- Add Arrows -->
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </div>

        </div>
        <!-- Slider Area End Here -->